body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
}

.map {
  height: 100%;
}

#program-info {
  position: absolute;
  width: 20%;
  top: 5px;
  right: 5px;
  z-index: 999;
}

#results {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 999;
  padding: 1rem;
}

#legend {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 999;
}

#path-error{
  position: absolute;
  color: #D7504D;
  width: 40vw;
  height: 25vh;
  right: 30vw;
  top: 35vh;
  z-index: 999;
}

.results {
  width: 100%;
  border-color: white;
}

#source {
  vertical-align: center;
  margin: 0.1rem;
}

#destination {
  vertical-align: center;
}

#popup {
  text-align: center;
  align-items: center;
}
